body {
    margin: 0;
    padding: 0;
}

* {
    box-sizing: border-box;
}

.NavBar {
    border-bottom: 1px solid;
    padding: 20px;
    display: flex;
    /* justify-content: space-between; */
    align-items: center;
}

.NavBar img {
    width: 80px;
}